<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="MARKER_NAME" default="pixhawk" />
  <arg name="PX4_DEV" default="/dev/ttyACM0:921600"/>
  <arg name="gcs_url" default="" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />
  <arg name="log_output" default="screen" />
  <arg name="pluginlists_yaml" default="$(find mavros)/launch/px4_pluginlists.yaml" />
  <arg name="config_yaml" default="$(find mavros)/launch/px4_config.yaml" />

  <arg name="BASE_STATION_NAME" default="base_station"/>
  <arg name="BASE_STATION_ADDRESS" default="localhost"/>
  <machine name="$(arg BASE_STATION_NAME)" address="$(arg BASE_STATION_ADDRESS)"/>

  <arg name="VIZ_THROTTLE_SPEED" default="16384"/>
  <arg name="VIZ_THROTTLE_SPEED_HALF" value="$(eval arg('VIZ_THROTTLE_SPEED')/2.0)"/>
  <arg name="MOCAP_THROTTLE_SPEED" default="16384"/>

  <arg name="COMPANION_COMPUTER_NAME" default="$(arg MARKER_NAME)"/>
  <arg name="COMPANION_COMPUTER_ADDRESS" default="localhost"/>
  <machine name="$(arg COMPANION_COMPUTER_NAME)" address="$(arg COMPANION_COMPUTER_ADDRESS)"/>

  <group ns="$(arg MARKER_NAME)">
    <!-- Throttle and relay at the same time
      from  /vrpn_client_node/$(arg MARKER_NAME)/pose
      to $(MARKER_NAME)/mavros/mocap/pose
      throttle to  MOCAP_THROTTLE_SPEED bytes/sec
      run on BASE_STATION_NAME
    -->
    <node pkg="topic_tools" type="throttle" name="mocap_throttle"
    args="bytes /vrpn_client_node/$(arg MARKER_NAME)/pose $(arg MOCAP_THROTTLE_SPEED) 1.0 mavros/mocap/pose"
    machine="$(arg BASE_STATION_NAME)">
    </node>

	<node pkg="mavros" type="mavros_node" name="mavros" required="true" clear_params="true" output="$(arg log_output)" machine="$(arg COMPANION_COMPUTER_NAME)">
		<param name="fcu_url" value="$(arg PX4_DEV)" />
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="target_system_id" value="$(arg tgt_system)" />
		<param name="target_component_id" value="$(arg tgt_component)" />

		<!-- load blacklist, config -->
		<rosparam command="load" file="$(arg pluginlists_yaml)" />
		<rosparam command="load" file="$(arg config_yaml)" />
	</node>

    <!-- Send throttled visualization information back
      from mavros/local_positon/pose & mavros/setpoint_position/local 
      to viz_throttle/*
      throttle to  VIZ_THROTTLE_SPEED/2.0 bytes/sec
      run on COMPANION_COMPUTER_NAME
    -->
    <node pkg="topic_tools" type="throttle" name="viz_pose_throttle"
    args="bytes mavros/local_position/pose $(arg VIZ_THROTTLE_SPEED_HALF) 1.0 viz_throttle/local_position/pose" machine="$(arg COMPANION_COMPUTER_NAME)">
      <param name="lazy" value="true"/>
    </node>
    <node pkg="topic_tools" type="throttle" name="viz_setpoint_throttle"
    args="bytes mavros/setpoint_position/local $(arg VIZ_THROTTLE_SPEED_HALF) 1.0 viz_throttle/setpoint_position/local" machine="$(arg COMPANION_COMPUTER_NAME)">
      <param name="lazy" value="true"/>
    </node>

    <!-- run the visualization on the base station -->
    <node pkg="mavros_extras" type="copter_visualization" name="copter_visualization"
     output="log" machine="$(arg BASE_STATION_NAME)">

        <remap from="local_position" to="viz_throttle/local_position/pose"/>
        <remap from="local_setpoint" to="viz_throttle/setpoint_position/local"/>
        <param name="fixed_frame_id" value="world"/>
        <param name="child_frame_id" value="$(arg MARKER_NAME)"/>

    </node>

  </group>

</launch>
