<launch>

  <arg name="marker_name" default="pixhawk" />
  <arg name="px4_dev" value="/dev/ttyACM0:921600"/>

  <arg name="base_station_name" value="base_station"/>
  <arg name="base_station_address" value="localhost"/>
  <machine name="$(arg base_station_name)" address="$(arg base_station_address)"/>

  <group ns="$(arg marker_name)">
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="$(arg px4_dev)"/>
    </include>

    <node pkg="mavros_extras" type="copter_visualization" name="copter_visualization" output="screen">
        <remap from="local_position" to="local_position/pose"/>
        <remap from="local_setpoint" to="setpoint_position/local"/>
        <param name="fixed_frame_id" value="world"/>
        <param name="child_frame_id" value="$(arg marker_name)"/>
    </node>

    <!-- Throttle and relay at the same time
      from  /vrpn_client_node/$(arg marker_name)/pose
      to $(marker_name)/mavros/mocap/pose
      throttle to  16384 bytes/sec
      run on $(arg base_station_name)
    -->
    <node pkg="topic_tools" type="throttle" name="mocap_relay" args="bytes /vrpn_client_node/$(arg marker_name)/pose
    16384 1.0 mavros/mocap/pose"
    machine="$(arg base_station_name)">
    </node>

  </group>

</launch>
