<launch>

  <arg name="tracker_name" default="f550" />
  <arg name="thrust_max" default="32" />

  <include file="$(find multirotor_launch)/launch/optitrack.launch"/>

  <include file="$(find multirotor_transformations)/launch/px4_multirotor_transformations.launch">
      <arg name="tracker_name" value="$(arg tracker_name)"/>
      <arg name="thrust_max" value="$(arg thrust_max)" />
  </include>


  <include file="$(find multirotor_launch)/launch/px4.launch">
      <arg name="namespace" value="$(arg tracker_name)" />
      <arg name="fcu_url" value="/dev/ttyACM0:57600"/>
  </include>
    
  <include file="$(find msf_updates)/launch/optitrack_pose_sensor.launch">
      <arg name="namespace" value="$(arg tracker_name)" />
  </include>

</launch>
