<launch>

  <arg name="namespace" default="f550" />
  <arg name="thrust_max" default="34" />
  <arg name="px4_dev" value="/dev/ttyUSB_px4_serial:921600"/>

  <include file="$(find multirotor_launch)/launch/optitrack.launch"/>

  <include file="$(find multirotor_transformations)/launch/px4_multirotor_transformations.launch">
      <arg name="tracker_name" value="$(arg namespace)"/>
      <arg name="thrust_max" value="$(arg thrust_max)" />
  </include>

  <include file="$(find multirotor_launch)/launch/px4_mavros.launch">
      <arg name="namespace" value="$(arg namespace)" />
      <arg name="fcu_url" value="$(arg px4_dev)"/>
  </include>
    
  <include file="$(find msf_updates)/launch/optitrack_pose_sensor.launch">
      <arg name="namespace" value="$(arg namespace)" />
  </include>

  <include file="$(find mav_linear_mpc)/launch/px4_f550_linear_mpc.launch">
      <arg name="namespace" value="$(arg namespace)" />
  </include>

  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery"/>
  <node name="master_sync" pkg="master_sync_fkie" type="master_sync"/>

  <include file="$(find multirotor_launch)/launch/manipulator_5dof.launch"/>

</launch>
